body{
    background: #2F3030;
}

#title{
    color: #01CdFF;
    cursor: pointer;
    text-decoration: none;
}

#headers{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width: 850px) { 
    #headers{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

.button{
    align-self: center;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    user-select: none;
    border: 2px solid transparent;
    /* padding: .5rem 1rem; */
    font-size: 1rem;
    border-radius: 0.1em;
    white-space: nowrap;
    cursor: pointer;
    font-size: 18px;
    color: #444;
    background-color: #fff; 
    border-color: #01cdff;
    padding: 0.4em 0.5em;
    margin:0 0.5em 0 0.5em;
}